<% if @list.nil? %>
  <%= link_to "Create Your To-Do List!", new_list_path, class: 'btn btn-success' %>
<% else %>
  <div class="row">
    <div class="span6">
      <h1><%= @list.title %></h1>
      <div class="row-fluid">
        <ul class="nav nav-pills">
          <%= link_to "Edit List", edit_list_path(@list), class:"btn btn-primary" %>
          <%= link_to "Delete List", @list, method: :delete, class:"btn btn-primary" %>
        </ul>
      </div>
    </div>
  </div>
  <div class="media-body">
    <%= render partial: "tasks/form", locals: {list: @list} %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= render partial: "tasks/task", collection: @tasks %>
    </h4>
  </div>
</div>
<% end %>
