<%= div_for task do %>
  <h3><%= task.description %></h3>
  <div class="row-fluid">
    <small><%= task.days_left %> days left</small>
    <%= link_to "", [@list, task], method: :delete, remote: true, class: 'glyphicon glyphicon-ok', style:"color:green", data:{confirm: "Congrats!  Just click ok and we'll delete this task from your list."} %>
    <%= link_to "", [@list, task], method: :delete, remote: true, class: 'glyphicon glyphicon-remove', style:"color:red", data:{confirm: "Are you sure?  This will permanently delete your task."} %>
  </div>
<% end %>
